---
import Social from "./social.astro"
---

<footer>
    <div class="social-links">
        <Social url="https://github.com/liampallett" icon="github"></Social>
        <Social url="https://www.linkedin.com/in/liam-pallett-a93a10304/" icon="linkedin"></Social>
        <Social url="https://bsky.app/profile/liampallettdev.bsky.social" icon="bluesky"></Social>
        <Social url="https://reddit.com/u/liampallett" icon="reddit"></Social>
    </div>
    <p class="copywrite-notice">&copy; 2025 Liam Pallett. Built using ➚<a href="https://astro.build" target="_blank">Astro</a></p>
</footer>

<style>
    .social-links {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    .copywrite-notice {
        display: flex;
        justify-content: center;
        margin-top: -0.4rem;
        font-size: 1rem;
    }
    a{
        font-size: 1rem;
    }
</style>