---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import "../styles/styles.css";
import "@fontsource/poppins";
import "@fortawesome/fontawesome-free";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<title>{title}</title>

		<script>
			if ('scrollRestoration' in history) {
			  history.scrollRestoration = 'manual';
			}
			document.body.classList.add('locked');
			window.addEventListener('load', () => {
			  document.body.classList.remove('locked');
			  setTimeout(() => window.scrollTo(0, 0), 10);
			});
		  </script>
	</head>
	
	<body>
		<Header></Header>
		<slot />
		<Footer></Footer>
	</body>
</html>