---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import "@fontsource/poppins";
import "@fortawesome/fontawesome-free";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="stylesheet" href="/src/styles/styles.css">

		<title>{title}</title>
	</head>
	
	<body>
		<Header></Header>
		<slot />
		<Footer></Footer>
	</body>
</html>
